# Mousing
set -g mouse on
bind -T root WheelUpPane   if-shell -F -t = "${alternate_on}" "send-keys -M" "select-pane -t =; copy-mode -e; send-keys -M"
bind -T root WheelDownPane if-shell -F -t = "${alternate_on}" "send-keys -M" "select-pane -t =; send-keys -M"

# History
set -g history-limit 30000

# No delay hitting escape
set -sg escape-time 0

{% if ansible_system == "Linux" -%}
# Copy/paste with X
bind-key -T copy-mode-vi y send -X copy-pipe "xsel -i -p -b"
bind-key p run "xsel -o | tmux load-buffer - ; tmux paste-buffer"
{% endif %}

# Fix TERM if using a 256-color terminal
set -g default-terminal "screen"
set -g update-environment 'DISPLAY SSH_ASKPASS SSH_AGENT_PID SSH_CONNECTION WINDOWID XAUTHORITY TERM'
{% if ansible_system == "Linux" %}
if "[[ ${TERM} =~ 256color || ${TERM} == fbterm  ]]" 'set -g default-terminal screen-256color'
if "[[ ${TERM} =~ 256color || ${TERM} == fbterm  ]]" "set-option -ga terminal-overrides ',${TERM}:Tc'"
{% endif %}

# Reload .tmux.conf with C-b r
bind-key r source-file ~/.tmux.conf

# Set up a normal BASH environment
bind-key Space send-keys "export PS1='\\j \\u@\\h:\\w \\$ ' && set -o vi"

# Vi!
set-window-option -g mode-keys vi

# Powerline
run-shell "powerline-config tmux setup"
