bindsym $mod+Control+l       exec swaylock --no-unlock-indicator --color 93a1a1
bindsym XF86AudioLowerVolume exec {{home}}/bin/sndctl down
bindsym XF86AudioRaiseVolume exec {{home}}/bin/sndctl up
bindsym XF86AudioMute        exec {{home}}/bin/sndctl mute
